<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP - SALÁRIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form #formulario="ngForm">
    <br><br><br>
    <ion-item>
      <ion-label>Salário Bruto: </ion-label>
      <ion-input name="sal" ngModel></ion-input>
    </ion-item><br><br>

    <ion-item>
      <ion-label>Faltas: </ion-label>
      <ion-input name="fal" ngModel></ion-input>
    </ion-item><br><br>

    <ion-item>
      <ion-label>Horas Extras: </ion-label>
      <ion-input name="hex" ngModel></ion-input>
    </ion-item><br><br>

    <ion-button (click)="descon(formulario)">Calcular Salário Líquido</ion-button>
   
    <br><br>
    <ion-item>
      <ion-label>Salário Líquido: </ion-label>
      <ion-input disabled value="{{salarioliq}}"></ion-input>
    </ion-item>
   

  </form>
</ion-content>